

          <th style='width: 10%; text-align: center'>Serial Number</th>
            <th style='width: 10%; text-align: center'>ID</th>
            <th>Name</th>
            <th>Profile Picture</th>

    

                  <tr  style='background-color: AZURE'>


                     <td style='width: 10%; text-align: center'>1</td>
                     <td style='width: 10%; text-align: center'>13</td>
                     <td>assdd</td>

                      <td >
                         <img src='Uploads/15073883411505898239author.jpg'  style='width:120px;height:100px; border-radius: 10px'>



                      </td>


                  </tr>
              

                  <tr  style='background-color: #ffffff'>


                     <td style='width: 10%; text-align: center'>2</td>
                     <td style='width: 10%; text-align: center'>8</td>
                     <td>pic6</td>

                      <td >
                         <img src='Uploads/1506310369gallery-img1.jpg'  style='width:120px;height:100px; border-radius: 10px'>



                      </td>


                  </tr>
              